* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
}

.fw-700 {
  font-weight: 700;
}

.appHeader {
  background-color: #333333;
  height: 100px;
  color: white;
}

.parentDiv {
  width: 100%;
}

.sideNav {
  background-color:#ececec;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 2px 0 5px #bcbcbc;
}

.mainSection {
  background-color: white;
  margin-left: auto;
}