* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
}

.appHeader {
  background-color: white;
  height: 100px;
}

.parentDiv {
  width: 100%;
  background-color: blue;
}

.sideNav {
  background-color:pink;
  height: 100vh;
  position: sticky;
  top: 0;
  left: 0;
}

.mainSection {
  background-color: green;
  height: 400vh;
  margin-left: auto;
}